page-search-location-busstop {
    .item-busstop{
        border-bottom:1px solid #dedede;
    }
    .container{
        overflow: none;
    }
    ion-fab{
        width: 120%; 
    }
    ion-searchbar{
        width: 120%;
    }
    .busstop{
        // margin-top:54px;
    }
    .scroll-content{
      
    }
}
