page-search-location-busstop {
    .item-busstop{
        border-bottom:1px solid #dedede;
    }
    .container{
        overflow: hidden;
    }
    ion-fab{
        width: 100%; 
    }
    ion-searchbar{
        width: 100%;
    }
    .busstop{
        // margin-top:44px;
    }
    .scroll-content{
      
    }
}
