page-search-location-busstop {
    .item-busstop{
        border-bottom:1px solid #dedede;
    }
    .container{
        overflow: hidden;
    }
    ion-fab{
        width: 100%; 
    }
    ion-searchbar{
        width: 100%;
        border:1px solid red;
    }
    .busstop{
        // margin-top:44px;
        margin-top:44px;
    }
    .scroll-content{
        padding-top:0px !important;
        margin-top:44px !important;
    }
}
