page-lookup {
    .item-busstop{
        border-bottom:1px solid #dedede;
        padding:5px;
        margin-bottom:10px;
    }
    .name-busstop span{
        padding:15px;
        width: 65px;
        height: 45px;
        display: inline-flex;
        align-items: left;
        justify-content: left;
        color:#fff;
        background: map-get($colors, secondary )
    }
}   
